.form {
    display: flex;
    justify-content: normal;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: #f2f2f2;
    padding: 6px 10px;
    width: 500px
}

button, a {
    border-radius: 10px;
    padding: 5px 10px;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    background-color: #f2f2f2;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-bottom: 10px;
  }

label span {
    flex-basis: 120px; 
    text-align: right; 
    margin-right: 10px;
  }
  
label input, label textarea {
    flex-grow: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.add {
    background-color: #A8E4A0;
}

.delete {
    background-color: #E4A0A0;

}

button:hover {
    opacity: 0.8;
}


.create-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    padding: 25px 0;
}

.form-h {
    margin: 0 auto;
    margin-top: 20px;
}

.sub-h {
    margin: 0 auto;
    margin-top: 10px;
}

.sub-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.description-area {
    background-color: #f2f2f2;
    width: 500px;
    height: 50px;
    padding: 5px 10px;  
    resize: vertical;
}


.create {
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

