* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-none {
  display: none;
}

h1 {
  font-size: 27.9px;
  font-weight: bold;
}
  
h2 {
  font-size: 15.9px;
  font-weight: bold;
}
  
h3 {
  font-size: 13.3px;
  font-weight: bold;
}
  
h4 {
  font-size: 13.5px;
  font-weight: normal;
  font-style: italic;
}

p {
  font-size: 12.5px;
  font-weight: normal;
  line-height: 1.1
}

p.long {
  line-height: 1.25;
  margin-right: 11px;
}

.container {
  height: auto;
  width: 900px;
  background-color: #f8f8f8;
  position: relative;
  display: flex;
  flex-direction: row;
}


/* ------------ SIDE PANEL  ---------------- */


.side-panel {
  box-sizing: border-box;
  width: 256px;
  background-color: #6495ED;
  color: #FFFFFF;
  height: auto;
  min-height: 100%;
  padding: 16px;
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.personal {
  padding-top: 15px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.personal-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.personal-container {
  display: flex;
  flex-direction: column;
  gap: 14px;

}

.personal-info-item {
  display: flex;
  flex-direction: column;
  gap: 2.6px;
}

.lang-container {
  margin-top: 13px;
}

.lang-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.side-hr {
  border: none;
	border-top: 1px solid #ffffff;
  margin-top: 4px;
  margin-bottom: 8px;
}



 /* ------------ MAIN PANEL  ---------------- */


.main-container {
  box-sizing: border-box;
  width: calc(100% - 256px);
  padding-left: 16px;
  padding-right: 16px;
  color: #000000;
  height: auto;
  min-height: 100%;
  padding-bottom: 16px;
}

.title {
  margin-top: 27px;
}

.main-hr {
  border: none;
  border-top: 1px solid #D3D3D3;
  margin-top: 29px;
  margin-bottom: 14px;
}

.main-info {
  margin-top: 29px;
}

.main-info-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-info-list {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-right: 11px;
}

.no-description {
  gap: 15px;
}

.main-info-item {
  display: flex;
  flex-direction: column;
  item-align: center;
  gap: 15px;
}

.main-info-column {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.main-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.main-info-hr {
  border: none;
  border-top: 1px solid #D3D3D3;
  margin-top: 16px;
  margin-bottom: 20px;
}

.btn-return {
  margin-top: 32px;
}